<a href="https://colab.research.google.com/github/johnmot/DataAnalysisProjects/blob/main/brainwave%26emotion_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
uploaded = files.upload()

Saving emotions.csv to emotions.csv

In [4]:
import io
import pandas as pd
df = pd.read_csv(io.BytesIO(uploaded['emotions.csv']))

In [7]:
df.describe()

        # mean_0_a     mean_1_a  ...    fft_748_b    fft_749_b
count  2132.000000  2132.000000  ...  2132.000000  2132.000000
mean     15.256914    27.012462  ...   -49.061255    95.104886
std      15.284621     9.265141  ...   106.486317   203.194976
min     -61.300000  -114.000000  ...  -521.000000 -1010.000000
25%       6.577500    26.075000  ...   -87.150000    -8.837500
50%      14.100000    30.000000  ...   -24.100000    13.400000
75%      27.700000    31.400000  ...    10.925000   149.250000
max     304.000000    42.300000  ...  1670.000000   888.000000

[8 rows x 2548 columns]

In [26]:
from sklearn.preprocessing import LabelEncoder

In [31]:
encoder = LabelEncoder()
encoder.fit(df['class'])
labels = encoder.transform(df['class'])
df['class'] = labels
df.head(3)

   # mean_0_a  mean_1_a  mean_2_a  ...  fft_749_b     label  class
0        4.62      30.3    -356.0  ...     280.00  NEGATIVE      0
1       28.80      33.1      32.0  ...       2.57   NEUTRAL      1
2        8.90      29.4    -416.0  ...     281.00  POSITIVE      2

[3 rows x 2550 columns]

In [48]:
#데이터 종속, 독립 변수 나누기
x_data = df.drop(['class','label'], axis=1)
y_data = df['class']

In [50]:
from sklearn.decomposition import PCA
pca = PCA(n_components=20) # 주성분을 몇개로 할지 결정
printcipalComponents = pca.fit_transform(x_data)
principalDf = pd.DataFrame(data=printcipalComponents)
# 주성분으로 이루어진 데이터 프레임 구성
#principalDf.head()
x_data = principalDf

In [51]:


#데이터 밸런스 확인
print(y_data.value_counts())

#실험을 위한 데이터 분할하기
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.18, random_state=777, stratify=y_data)
x_train, x_val, y_train, y_val = train_test_split(x_train, y_train, test_size=0.22, random_state=777, stratify=y_train)

import numpy as np
print(np.shape(x_train))
print(np.shape(y_train))
print(np.shape(x_val))
print(np.shape(y_val))
print(np.shape(x_test))
print(np.shape(y_test))

1    716
2    708
0    708
Name: class, dtype: int64
(1363, 20)
(1363,)
(385, 20)
(385,)
(384, 20)
(384,)