<a href="https://colab.research.google.com/github/johnmot/DataAnalysisProjects/blob/main/%E1%84%8B%E1%85%A6%E1%84%90%E1%85%B5%E1%84%8B%E1%85%A9%E1%84%91%E1%85%B5%E1%84%8B%E1%85%A1_%E1%84%8C%E1%85%A1%E1%86%A8%E1%84%86%E1%85%AE%E1%86%AF_%E1%84%89%E1%85%A1%E1%86%AB%E1%84%8C%E1%85%B5_%E1%84%8B%E1%85%A8%E1%84%8E%E1%85%B3%E1%86%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Package loading & Data Input

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
%matplotlib inline
df = pd.read_csv("/Users/xxxx/Downloads/archive (4)/Barley.data.csv")
df.head()

,Predictor,740,741,742,743,744,745,746,747,748,...,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070
0,HB-52,1.499853,1.500665,1.501564,1.502536,1.503537,1.504548,1.505588,1.506689,1.507828,...,1.636411,1.637350,1.636452,1.634370,1.632287,1.630265,1.630722,1.633166,1.636204,1.637872
1,HB-52,1.530877,1.531669,1.532524,1.533419,1.534308,1.535169,1.536024,1.536916,1.537830,...,1.643299,1.644222,1.643302,1.641195,1.639088,1.637046,1.637493,1.639938,1.642981,1.644649
2,HB-52,1.607175,1.608642,1.610044,1.611357,1.612540,1.613585,1.614534,1.615456,1.616359,...,1.703343,1.704291,1.703329,1.701137,1.698946,1.696822,1.697278,1.699806,1.702953,1.704677
3,HB-52,1.677333,1.678098,1.678930,1.679809,1.680688,1.681539,1.682384,1.683260,1.684145,...,1.755067,1.756013,1.754996,1.752716,1.750441,1.748238,1.748696,1.751290,1.754525,1.756294
4,HB-52,1.507830,1.509293,1.510683,1.511977,1.513145,1.514180,1.515125,1.516049,1.516964,...,1.641968,1.642877,1.641946,1.639829,1.637714,1.635664,1.636101,1.638535,1.641567,1.643227

In [ ]:
x_data = df.iloc[:,1:332]
y_data=pd.DataFrame(df['Predictor'])

# Exploratory analysis

In [ ]:
df['Predictor'].value_counts()

 Ardu 1260 B    50
Beka            50
Holker          50
HB-52           50
 HB-1963        50
 Grace          50
Misccal-21      50
 HB-1307        50
 Traveller      50
 Sabini         50
 Cross 41/98    50
 Bahati         50
 Explorer       50
 Bekoji-1       50
 Dimtu          50
 EH 1493        50
 Deribe         50
 HB-1964        50
 IBON 174/03    50
 EH 1847        50
 HB-1533        50
 HB-1965        50
 HB-1966        50
 Shege          50
Name: Predictor, dtype: int64

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y_data = y_data.apply(le.fit_transform)

# Preprocessing

In [ ]:
#Savitzky-Golay filter with derivative.
from scipy.signal import savgol_filter 

sg=savgol_filter(x_data,window_length=11, polyorder=3, deriv=2, delta=1.0)

sg_x=pd.DataFrame(sg, columns=x_data.columns)

sg_x.head()

,740,741,742,743,744,745,746,747,748,749,...,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070
0,0.000084,0.000073,0.000061,0.000050,0.000039,0.000028,0.000010,-0.000011,-0.000030,-0.000044,...,-0.000446,-0.000474,-0.000300,0.000008,0.000319,0.000781,0.001243,0.001705,0.002167,0.002629
1,0.000033,0.000027,0.000021,0.000014,0.000008,0.000001,-0.000011,-0.000024,-0.000036,-0.000042,...,-0.000446,-0.000474,-0.000300,0.000010,0.000322,0.000786,0.001250,0.001714,0.002178,0.002642
2,-0.000139,-0.000128,-0.000117,-0.000105,-0.000094,-0.000082,-0.000078,-0.000073,-0.000069,-0.000060,...,-0.000462,-0.000491,-0.000310,0.000010,0.000334,0.000815,0.001296,0.001777,0.002258,0.002738
3,0.000055,0.000043,0.000031,0.000020,0.000008,-0.000004,-0.000022,-0.000043,-0.000061,-0.000071,...,-0.000471,-0.000502,-0.000315,0.000014,0.000347,0.000842,0.001337,0.001832,0.002327,0.002822
4,-0.000148,-0.000133,-0.000119,-0.000105,-0.000091,-0.000077,-0.000069,-0.000062,-0.000055,-0.000045,...,-0.000446,-0.000473,-0.000299,0.000010,0.000322,0.000786,0.001249,0.001713,0.002176,0.002640

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(sg_x, y_data ,
                                                    test_size=0.2,
                                                    random_state=77 ,stratify=Y)

# Modeling

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier(random_state=77)
rf.fit(x_train, y_train)

<ipython-input-73-93a1eac0190f>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(x_train, y_train)

RandomForestClassifier(random_state=77)

In [ ]:
y_predt = rf.predict(x_train)
print("훈련 정확도: {:.3f}".format(accuracy_score(y_predt, y_train)))
y_pred = rf.predict(x_test)
print("예측 정확도: {:.3f}".format(accuracy_score(y_pred, y_test)))

훈련 정확도: 1.000
예측 정확도: 0.787

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.88      0.70      0.78        10
           1       1.00      1.00      1.00        10
           2       1.00      0.90      0.95        10
           3       0.67      1.00      0.80        10
           4       0.62      1.00      0.77        10
           5       1.00      0.90      0.95        10
           6       0.91      1.00      0.95        10
           7       0.71      0.50      0.59        10
           8       1.00      0.70      0.82        10
           9       0.77      1.00      0.87        10
          10       0.59      1.00      0.74        10
          11       0.50      0.20      0.29        10
          12       1.00      0.70      0.82        10
          13       1.00      1.00      1.00        10
          14       0.90      0.90      0.90        10
          15       0.47      0.70      0.56        10
          16       0.71      1.00      0.83        10
          17       0.67      0.40      0.50        10
          18       1.00      0.10      0.18        10
          19       0.90      0.90      0.90        10
          20       0.83      1.00      0.91        10
          21       0.90      0.90      0.90        10
          22       0.60      0.60      0.60        10
          23       0.89      0.80      0.84        10

    accuracy                           0.79       240
   macro avg       0.81      0.79      0.77       240
weighted avg       0.81      0.79      0.77       240

Linear Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=77)

lr.fit(x_train, y_train)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(random_state=77)

In [ ]:
y_predt = lr.predict(x_train)
print("훈련 정확도: {:.3f}".format(accuracy_score(y_predt, y_train)))
y_pred = lr.predict(x_test)
print("예측 정확도: {:.3f}".format(accuracy_score(y_pred, y_test)))

훈련 정확도: 0.152
예측 정확도: 0.121